.projectContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #fff;
  gap: 2rem;
  height: fit-content;
}

.projectContent1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 1rem;
  gap: 1rem;
  height: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.project {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .projectContent1 {
    width: 90%;
  }
}
