.navbar {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  
}

.logo {
  object-fit: cover;
  height: auto;
  width: 6rem;
  overflow: hidden;
  display: block;
  align-items: left;
 
}


.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.desktopMenuListItem:hover {
  color: rgb(0, 23, 128);
  padding-bottom: 0.5rem;
  border-bottom: 4px solid rgb(255, 255, 255);
  font-size: 1.5rem;
  pointer-events: visible;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resume > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.resume > a:hover {
  color: teal;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    position: sticky;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2C7A7B;
  }

  .logo {
    object-fit: cover;
    height: auto;
    width: 3rem;
  }
}
